* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;

}
#humber{
    display: none;
}

.header {
    padding-top: 20px;
    display: flex;
    align-items: center;
    gap: 135px;
    justify-content: center;
}

.logo img {
    height: 30px;
    margin-left: 20px;
}

.collections a {
    color: darkgray;
    text-decoration: none;
}

.watches a {
    color: darkgray;
    text-decoration: none;
}

.quick a {
    color: darkgray;
    text-decoration: none;
}

.pages a {
    color: darkgray;
    text-decoration: none;
}

.contact a {
    text-decoration: none;
    color: white;
    background-color: black;
    border: 1px;
    padding: 15px 40px;
    border-radius: 30px;
}

.contact a:hover {
    background-color: cornflowerblue;
}

.logo-contact i{
    /* height: 55px; */
  
    border: 1px solid black;
    /* opacity: 0.6; */
    padding: 13px 11px;
    border-radius: 30px;

}

.button-contact {
    display: flex;
    align-items: center;
    gap: 15px;
}


.contact-shop {
    display: flex;
    justify-content: end;
    align-items: end;

}

.box {
    display: flex;
    list-style: none;
    gap: 45px;
    padding: 20px;
    font-weight: bold;
    font-size: 17px;

}

.box a {
    position: relative;
    padding: 10px 5px;
    color: gray;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

.box a.active,
.box a:hover {
    color: black;

}

.box a::before,
.box a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background-color: black;
    transform: scaleX(0);
    opacity: 0.1;
}

.box a::before {
    top: 0;
}

.box a::after {
    bottom: 0;
}
.box a.active,
.box a:hover {
    color: gray;

}
.box a:hover {
    color: black;

}

.box a.active::before,
.box a.active::after,
.box a:hover::before,
.box a:hover::after {
    transform: scaleX(1);
}


.menu {
    position: relative;
}

.menu-button a {
    padding: 10px 15px;


}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    border-radius: 10px;
    min-width: 200px;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1;
}

.dropdown-menu li a {
    display: block;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 14px;
}

.dropdown-menu li a:hover {
    color: white;
    border-left: 4px solid white;
}

.menu:hover .dropdown-menu {
    display: block;
}

.navbar {
    background: #fff;
    position: relative;
    z-index: 1;
}

.menuu {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;

}

.menuu a {
    text-decoration: none;
    color: black;

}

.dropdown {
    position: relative;

}


.mega-page {
    position: absolute;
    top: 100%;
    width: 1000px;
    background: #1e1f25;
    padding: 30px 600px;
    display: none;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
    border-radius: 20px;
    transform: translatex(-390px);

}

.dropdown:hover .mega-page {
    display: grid;

}

.card {
    background: #f1f4f8;
    padding: 40px 50px;
    border-radius: 15px;
    text-align: center;
    transition: 0.3s;
    justify-content: center;
    align-items: center;
    transform: translatex(-500px);

}

.card img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 10px;

}

.card a {
    margin-left: -60px;
    position: absolute;
    padding: 5px 15px;
    background: #007bff;
    color: white;
    border-radius: 8px;
    margin-top: 30px;

}



.contact a {
    text-decoration: none;
    color: white;
    background-color: black;
    border: 1px;
    padding: 15px 40px;
    border-radius: 30px;
}

.contact a:hover {
    background-color: cornflowerblue;
}

.logo-contact img {
    height: 55px;
    border: 1px;
    border: 1px solid black;
    opacity: 0.6;
    padding: 11px 11px;
    border-radius: 30px;

}

.button-contact {
    display: flex;
    align-items: center;
    gap: 15px;

}

.logo-image {
    position: absolute;
    background-color: #f04;
    color: white;
    font-size: 12px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    top: 67px;
}

.button-products img {
    width: 20px;
}

.button-products a {
    text-decoration: none;
    color: black;
    font-size: small;
    font-weight: bold;
}

.button-products {
    margin-left: 20px;
    margin-top: 30px;
    border: 1px solid black;
    height: 40px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.01);
    opacity: 0.7;
}

.title {
    margin-bottom: 100px;

}

.titles .highlight {
    color: #007bff;
}

.titles h1 {
    font-size: 45px;
    margin-top: -30px;
}
.titles p{
    opacity: 0.5;
}

.background-title {
    margin-top: 100px;
    position: absolute;
    width:800px;
    height: 20px;
    display: flex;
    background-color: #f2f2f2;
    border-radius: 100px;
    justify-content: center
}
.title-h1-p{
    display: flex;
    justify-content: center;
    text-align: center;
}
.second-page{
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    margin-top: 300px;
}
.bg-s-p{
  display: flex;
    justify-content: center;
    
}
.back-s-p{
    border: 0.1px solid #f2f2f2;
    background-color: #fcfcfc;
    width: 400px;
    height: 850px;
    border-radius: 30px;
}
.img-q img{
    background-color: #007bff;
    margin: 20px;
    width: 80px;
    border: 1px solid black;
    border-radius: 50px;
    padding:2px;
}

.img-q{
    display: flex;
}
.bg-s-p input{
    width: 500px;
    padding: 15px 150px;
    border-radius: 40px;
    width: 100%;
}
#ali{
    width: 900px;
}
.h2-p{
    opacity: 0.6;
}
.h-n{
    display: flex;
  margin-left: 30px;
    font-size: 10px;
    opacity: 0.5;
}
.bu-ask{
 margin-top: 30px;
 display: flex;
 justify-content: end;
 margin-right: 30px;
}
.bu-ask a{
    text-decoration: none;
    color: white;
    background-color: #007bff;
    border: 1px solid #007bff ;
    padding: 12px 30px;
    border-radius: 30px;
}
.bu-ask a:hover{
    background-color: black;
   }

.de-bg summary{
   
    background-color:#fcfcfc;
    margin-top: 30px;
    border: 1px solid #f2f2f2;
width: 700px;
text-align: end;
height: 60px;
align-items: center;
display: flex;
border-radius: 20px;
padding-left: 30px;

}
.de-bg  p{
    border: 1px solid black;
    width:650px;
    background-color: black;
    color: white;
    margin-left: 20px;
     border-radius: 10px;
     padding: 0px 10px;
}

.lasts-page {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 180px;
}

.footer {
    margin-left: -200px;
}

.menus {
    display: flex;
    gap: 60px;
}

.menus li {
    color: black;
    list-style: none;
    opacity: 0.5;
    line-height: 2;
}

.menus li :hover {
    color: #0088ff;
}

.menus a {
    text-decoration: none;
    color: black;
}

.background-image-page-6 {

    margin-top: 150px;
    border: 1px solid #f2f2f2;
    background-color: #f1f2f6;
    height: 400px;
    border-radius: 50px 50px 0px 0px;
    /* margin-bottom: -200px; */
}

.images-i-t-p {
    display: flex;
    gap: 17px;
    opacity: 0.9;
}

.twitter img {
    width: 50px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 50px;
}

.twitter :hover {
    background-color: #0088ff;
    border: #0088ff;
}

.ins img {
    width: 50px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 50px;
}

.pentris img {
    width: 50px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 50px;
}

.pentris :hover {
    background-color: red;
    border: red;
}

.footer p {
    opacity: 0.5;
}

.footer h5 {
    opacity: 0.5;
}

.footer {
    padding-left: 40px;
}

.subscribe-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;

}

.subscribe-btn:hover {
    background-color: #333;
}

input[type="email"] {
    padding: 10px 15px;
    border: 2px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
    width: 200px;
}

.button-1-2 {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 30px;
}

.button-1-2 a {
    border: 1px solid black;
    padding: 15px 20px;
    border-radius: 50px;
    text-decoration: none;
    color: black;
    gap: 30px;
    flex-direction: row;
}

.button-1-2 img {
    border: 1px solid black;
    padding: 15px 15px;
    border-radius: 50px;
    text-decoration: none;
    color: black;
    gap: 30px;
    flex-direction: row;
    width: 50px;
}

.button-1-2 img {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 30px;
}

.button-1-2 :hover {
    background-color: #000000;
    color: white;
}

.button-1-2 img:hover {
    background-color: #000000;
    color: white;
}
#icon{
    font-size: 40px;
    background-color: black;
    border: 1px solid black;
    padding: 15px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
#icons{
     font-size: 40px;
    background-color: black;
    border: 1px solid black;
    padding: 17px 30px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px; 
}